#cuadroGeneral{
  width: 700px;
  height: 600px;
}
div.cuadro{
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;
  border:solid black;
  box-sizing: border-box;
  border-radius: 60px;
  cursor: pointer;
}
div .jugada{
  background-color: blue;
}
div .jugada2{
  background-color: red;
}
